.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial;
    background-image: url("../background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
  }
  
  .input {
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    background: #238e8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .formTitle {
    margin-bottom: "20px";
    color: "#333";
    text-align: "center";
  }

  .activity {
    background: #92d4d2;
    color: black;
    border-radius: 5px;
  }